.hero-bottom {
    background-color: #0b3d2e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.feature-card {
    background-color: #43A047;
    border-radius: 17px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 12px;

    width: 260px;
    max-width: 100%;
}

.feature-card img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    flex-shrink: 0;
}

.feature-card p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #F5F5F5;
    line-height: 1.4;
}

@media (max-width:768px) {

    .hero-bottom {
        flex-direction: column;
        padding: 20px 15px;
    }

    .feature-card {
        width: 100%;
        max-width: 340px;
    }

    .feature-card p {
        font-size: 16px;
    }

}